@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.homepage {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #17252a;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vw;
}

p {
    font-size: 15px;
    color: #2B7A78;
}

.padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.jumbotron {
    height: 50vw;
    width: 100%;
    background: -webkit-linear-gradient(rgba(11, 12, 16, 0.4), rgba(11, 12, 16, 0.4)), url("./img/img1.jpg");
    /* background-image: url("./img/img1.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.jumbo-text {
    margin-top: 10%;
    color: white;
    width: 100%;
    max-width: 100%;
    text-shadow: 1px 1px 10px #000;
}

.jumbo-text h2{
    color: #DEF2F1;
    font-size: 4vw;
}

.jumbo-text h1 {
    color: #FEFFFF;
    font-size: 15vw;
}


.even-section {
    background-color: #FEFFFF;
}

.odd-section {
    background-color: #def2f1;
}

.intro h1 {
    margin-bottom: 30px;
}

.section-2 .card {
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.section-2 .card-heading{
    margin-bottom: 20px;
    color: #DEF2F1;
    background-color: #17252a;
    padding: 20px;
}

.section-3 {
    text-align: justify;
}

.Subheading {
    background-color: #3aafa9;
    padding: 130px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #171717;
    transform: translate(-50%, -50%);
}


/* Time line css */

.Timeline {
    position: relative;
}

.Timeline::before {
    content: '';
    background: #2b7a78;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item-right, .timeline-item-left {
    width: 100%;
    margin-bottom: 70px;
}
  
.timeline-item-right .timeline-content {
    float: right;
    padding: 50px 30px 10px 30px;
}

.timeline-item-left .timeline-content {
    padding: 50px 30px 10px 30px;
}

.timeline-item-right .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item-right .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #DEF2F1 transparent transparent;
}

.timeline-item-right::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-item-left::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #DEF2F1;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #DEF2F1;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #17252a;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }

.date {
    background: #2B7A78;
    display: inline-block;
    color: #FEFFFF;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .Timeline::before {
      left: 50px;
    }
    .Timeline .timeline-img {
      left: 50px;
    }
    .Timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .Timeline .timeline-item-right .timeline-content {
      float: none;
    }
    .Timeline .timeline-item-left .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }

    .timeline-item-left .timeline-content .date {
        right: auto;
        left: 0;
    }
}

footer {
    background-color: #17252A;
    color: #FEFFFF;
}

footer p {
    color: #def2f1;
}